
.poet-container {
	width: 165px;
	height: 50px;
	background-color: white;
	font-family: Roboto;
	font-size: 12px;
	border: 1px solid #CDCDCD;
	border-radius: 4px;
	box-shadow: 0 2px 0 0 #F0F0F0;
}
.poet-inner {
	color: #35393E;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	height: 50px;
}
.poet-image {
	width: 31px;
	height: 31px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	color: #35393E;
	font-family: Roboto;
}
.poet-title {
	padding-top: 10px;
	line-height: 15px;
	margin: 0;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}
.poet-date {
	text-align: left;
	line-height: 15px;
	margin: 0;
	font-size: 10px;
	padding-top: 1px;
	font-size: 8px;
	font-family: Roboto;
	font-weight: bold;
	line-height: 13px;
	color: #707070;
}